<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard | SuperGUI Templates</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <h1>Dashboard</h1>
	<div id="registered-total-counter">
		<h3>Total Registered</h3>
		<h2>4</h2>
	</div>
	<div id="registered-recent-counter">
		<h3>Recently Registered</h3>
		<h2>2</h2>
		<h4>Registererd in last 24 hours</h4>
	</div>
	<div id="registered-chart-6m">
		<h3>Amount of Registrations</h3>
		<div id="chart">
			<img src="#" alt="This chart will display the amount of registrations by week over the past 6 months" />
		</div>
		<h4>per week over last 6 months</h4>
	</div>
	<div id="registered-chart-7d">
		<h3>Amount of Registrations</h3>
		<div id="chart">
			<img src="#" alt="This chart will display the amount of registrations by day over the past 7 days" />
		</div>
		<h4>per day over last 7 days</h4>
	</div>
  </body>
</html>