<!DOCTYPE html>
<html>
  <head>
    <title>List | SuperGUI Templates</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <table>
		<th>
			<td>ID</td>
			<td>Name</td>
			<td>E-Mail</td>
			<td colspan="3">Options</td><!-- FIXME: Add cool icons -->
		</th>
		<tr>
			<td>1001</td>
			<td>Peter Hampshire</td>
			<td><a href="#">peter@hampshire.org</a></td>
			<td><a href="#">Show</a></td>
			<td><a href="#">Edit</a></td>
			<td><a href="#">Delete</a></td>
		</tr>
		<tr>
			<td>1002</td>
			<td>Mark Zuckerseeker</td>
			<td><a href="#">mark@zuckerseeker.org</a></td>
			<td><a href="#">Show</a></td>
			<td><a href="#">Edit</a></td>
			<td><a href="#">Delete</a></td>
		</tr>
		<tr>
			<td>1003</td>
			<td>James Holston</td>
			<td><a href="#">james@bitbeast.org</a></td>
			<td><a href="#">Show</a></td>
			<td><a href="#">Edit</a></td>
			<td><a href="#">Delete</a></td>
		</tr>
		<tr>
			<td>1004</td>
			<td>Holly Tifterstone</td>
			<td><a href="#">holly@bitbeast.org</a></td>
			<td><a href="#">Show</a></td>
			<td><a href="#">Edit</a></td>
			<td><a href="#">Delete</a></td>
		</tr>
	</table>
  </body>
</html>